
* {
    overflow: auto;
}
body {
    background-color: #8BA1BB;
    font-family: Arial;
    margin: 0;
}
p.categorie {
    background-color: black;
    color:white;
    display: inline-block;
    overflow: visible;
    margin-top: -40px;
    padding: 8px 18px;
    margin-bottom: 0px;
    font-weight: bold;
}
 .centre{
    text-align: center;
    width: 100%;
}
div.categorie {
    margin-bottom: 0px;
    margin-top:0px;
    overflow: visible;
    
}
div.contenu {
    background-color: white;
    margin:  40px 8px 80px 8px;
    padding: 0 8px 20px 8px;
     
    box-shadow: 0px 0px 8px 8px rgba(0,0,0,0.1);
    overflow: visible;
}
h1 {
    text-align: center;
    margin-bottom: 12px;
    margin-top: 15px;
}
p.description {
    text-align: center;
    max-width: 400px;
    display: inline-block;
    font-size: 14px;
}
div.description {
    text-align: center;
}
div.separateur {
    background-color: black;
    width: 100px;
    height: 1px;
    margin-left: auto;
    margin-right: auto;


}
table.info{
    position : absolute; 
    bottom:0; 
    width:100%;
    color:white; 
    background-color: #6C829DC0; 
    height:50px;
    
}
div.info {
    position: relative;
}
table.info td {
    text-align: center;
    font-size: 12px;
    vertical-align: top;
}
table.info th {
    text-align: center;
    font-size: 14px;
    vertical-align: bottom;
    padding-bottom: 4px;
}
img.info {
    display: block;
    max-height: 400px;
    object-fit: cover;
    min-height: 200px;
}
div.colonne {
    width: 100%;
    margin-top: 20 px;
}
div.colonne h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 15px;
    border-bottom: 10px solid #6C829D;
    padding-bottom: 5px;

}
div.colonne1{
 display: inline-block;
}

div.ingredient p {
    text-align: center;
    font-size: 14px;
    border: 1px solid lightgray;
    padding: 8px 0;
    margin-top: 4px;
    margin-bottom: 0;
     
}
table.preparation p.numero {
    background-color: #6C829D ;
    color: white;
    width: 25px;
    text-align: center;
    height: 25px;
    font-size: 14px;
    font-weight: bold;
    padding-top: 4px;
    box-sizing: border-box;
    border-radius: 50%;
    margin: 0;

}
table.preparation td {
    vertical-align: top;

}
table.preparation td.preparation_etape {
font-size: 14px;
padding-left: 10px;
padding-bottom: 10px;

}
table.preparation tr {
    height: 40px;
}

/* style pour ordinateur*/
@media only screen and (min-width: 768px) {

    div.contenu {
        
        min-width: 350px;
        margin:  60px 10% 80px 10%;
        padding: 0 30px 30px 30px;
       
    }
    table.info{
       
        height:80px;
        
    }
    div.info {
        position: relative;
    }
    table.info td {
      
        font-size: 14px;
       
    }
    table.info th {
       
        font-size: 16px;
      
    }
    div.colonne {
        width: 45%;
    }
    div.colonne1{
 
        margin-right: 10%;
      
       }
       div.colonne2{
           float: right;
            
       
       }

}
@media only screen and (min-width: 900px) {
    div.contenu {
        
       width: 645px;
        margin-left: auto;
        margin-right: auto;
         
       
    }

}